<a href="https://colab.research.google.com/github/qkrtkddls135/bmt_python/blob/main/21407_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
row = pd.date_range( '20210507', periods=6 )
col = list('ABCD')
df = pd.DataFrame(np.random.randn(6,4), index=row, columns=col)

In [10]:
df

                   A         B         C         D
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445
2021-05-08 -0.410936  0.616931  0.222044  0.383838
2021-05-09  0.496586  0.133079 -0.862439 -0.218478
2021-05-10 -2.224439 -1.045218  0.202574 -0.926492
2021-05-11  1.136660 -0.031536 -0.220475 -0.735769
2021-05-12 -1.905682 -0.061195  0.265365  0.232477

In [11]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20210507', periods=6))

In [12]:
df['F'] = s1

In [13]:
df

                   A         B         C         D  F
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445  1
2021-05-08 -0.410936  0.616931  0.222044  0.383838  2
2021-05-09  0.496586  0.133079 -0.862439 -0.218478  3
2021-05-10 -2.224439 -1.045218  0.202574 -0.926492  4
2021-05-11  1.136660 -0.031536 -0.220475 -0.735769  5
2021-05-12 -1.905682 -0.061195  0.265365  0.232477  6

In [14]:
df>0

                A      B      C      D     F
2021-05-07  False  False  False  False  True
2021-05-08  False   True   True   True  True
2021-05-09   True   True  False  False  True
2021-05-10  False  False   True  False  True
2021-05-11   True  False  False  False  True
2021-05-12  False  False   True   True  True

In [15]:
df[df>0]

                   A         B         C         D  F
2021-05-07       NaN       NaN       NaN       NaN  1
2021-05-08       NaN  0.616931  0.222044  0.383838  2
2021-05-09  0.496586  0.133079       NaN       NaN  3
2021-05-10       NaN       NaN  0.202574       NaN  4
2021-05-11  1.136660       NaN       NaN       NaN  5
2021-05-12       NaN       NaN  0.265365  0.232477  6

In [16]:
df2=df.copy()

In [17]:
df2[df2>0]

                   A         B         C         D  F
2021-05-07       NaN       NaN       NaN       NaN  1
2021-05-08       NaN  0.616931  0.222044  0.383838  2
2021-05-09  0.496586  0.133079       NaN       NaN  3
2021-05-10       NaN       NaN  0.202574       NaN  4
2021-05-11  1.136660       NaN       NaN       NaN  5
2021-05-12       NaN       NaN  0.265365  0.232477  6

In [18]:
df2[df2>0] = -df

In [19]:
df2

                   A         B         C         D  F
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445 -1
2021-05-08 -0.410936 -0.616931 -0.222044 -0.383838 -2
2021-05-09 -0.496586 -0.133079 -0.862439 -0.218478 -3
2021-05-10 -2.224439 -1.045218 -0.202574 -0.926492 -4
2021-05-11 -1.136660 -0.031536 -0.220475 -0.735769 -5
2021-05-12 -1.905682 -0.061195 -0.265365 -0.232477 -6

In [20]:
df

                   A         B         C         D  F
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445  1
2021-05-08 -0.410936  0.616931  0.222044  0.383838  2
2021-05-09  0.496586  0.133079 -0.862439 -0.218478  3
2021-05-10 -2.224439 -1.045218  0.202574 -0.926492  4
2021-05-11  1.136660 -0.031536 -0.220475 -0.735769  5
2021-05-12 -1.905682 -0.061195  0.265365  0.232477  6

In [21]:
df.mean()

A   -0.687803
B   -0.178399
C   -0.160741
D   -0.240145
F    3.500000
dtype: float64

In [22]:
df.mean(1)

2021-05-07   -0.329885
2021-05-08    0.562375
2021-05-09    0.509750
2021-05-10    0.001285
2021-05-11    1.029776
2021-05-12    0.906193
Freq: D, dtype: float64

In [24]:
df.apply(np.cumsum)

                   A         B         C         D   F
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445   1
2021-05-08 -1.629942 -0.065528 -0.349469  0.207392   3
2021-05-09 -1.133356  0.067552 -1.211908 -0.011086   6
2021-05-10 -3.357795 -0.977666 -1.009334 -0.937578  10
2021-05-11 -2.221135 -1.009202 -1.229810 -1.673347  15
2021-05-12 -4.126818 -1.070396 -0.964445 -1.440870  21

In [25]:
df

                   A         B         C         D  F
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445  1
2021-05-08 -0.410936  0.616931  0.222044  0.383838  2
2021-05-09  0.496586  0.133079 -0.862439 -0.218478  3
2021-05-10 -2.224439 -1.045218  0.202574 -0.926492  4
2021-05-11  1.136660 -0.031536 -0.220475 -0.735769  5
2021-05-12 -1.905682 -0.061195  0.265365  0.232477  6

In [29]:
df.apply(np.cumsum,axis=1)

                   A         B         C         D         F
2021-05-07 -1.219006 -1.901464 -2.472978 -2.649423 -1.649423
2021-05-08 -0.410936  0.205995  0.428038  0.811876  2.811876
2021-05-09  0.496586  0.629665 -0.232773 -0.451251  2.548749
2021-05-10 -2.224439 -3.269656 -3.067083 -3.993575  0.006425
2021-05-11  1.136660  1.105124  0.884649  0.148880  5.148880
2021-05-12 -1.905682 -1.966877 -1.701512 -1.469035  4.530965

In [28]:
lambda df : df.max() - df.min

In [30]:
df.apply(lambda x : x.max() - x.min())

A    3.361098
B    1.662149
C    1.127804
D    1.310329
F    5.000000
dtype: float64

In [31]:
df.A.max(), df.A.min()

(1.1366596751254687, -2.224438777424692)

In [32]:
df

                   A         B         C         D  F
2021-05-07 -1.219006 -0.682459 -0.571513 -0.176445  1
2021-05-08 -0.410936  0.616931  0.222044  0.383838  2
2021-05-09  0.496586  0.133079 -0.862439 -0.218478  3
2021-05-10 -2.224439 -1.045218  0.202574 -0.926492  4
2021-05-11  1.136660 -0.031536 -0.220475 -0.735769  5
2021-05-12 -1.905682 -0.061195  0.265365  0.232477  6

In [39]:
s = pd.Series(np.random.randint(1,7,size = 6000000))
s.value_counts()

6    1001684
4    1000471
5    1000258
2     999563
1     999459
3     998565
dtype: int64

In [45]:
df = pd.DataFrame(np.random.randn(10,4))

In [48]:
pieces = df[:3], df[3:7], df[7:]

In [49]:
pd.concat(pieces)

          0         1         2         3
0 -1.289223  0.185292 -0.103860  0.688251
1 -0.353380 -0.947015  1.115580  0.800612
2 -0.053773  1.192654  0.969657 -0.959330
3  0.050468  1.791991  0.192798  0.537742
4 -0.253668  1.249576  1.007813 -1.003685
5 -0.714996 -0.585370 -0.636495 -1.049864
6 -0.008616 -0.270664 -0.357136  0.382075
7  0.545940 -0.258943  0.190656  0.044741
8 -1.194521 -1.005884  1.690746  0.479422
9  0.839789 -0.807863  1.269350 -1.574689

In [52]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'], 
        'lval': [1, 2]
     }
)

right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})

In [53]:
left

   key  lval
0  foo     1
1  foo     2

In [54]:
right

   key  rval
0  foo     4
1  foo     5

In [55]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [56]:
df

          0         1         2         3
0 -1.289223  0.185292 -0.103860  0.688251
1 -0.353380 -0.947015  1.115580  0.800612
2 -0.053773  1.192654  0.969657 -0.959330
3  0.050468  1.791991  0.192798  0.537742
4 -0.253668  1.249576  1.007813 -1.003685
5 -0.714996 -0.585370 -0.636495 -1.049864
6 -0.008616 -0.270664 -0.357136  0.382075
7  0.545940 -0.258943  0.190656  0.044741
8 -1.194521 -1.005884  1.690746  0.479422
9  0.839789 -0.807863  1.269350 -1.574689

In [57]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    }
)

In [58]:
df

     A      B         C         D
0  foo    one -2.095005 -0.052540
1  bar    one  0.894528  2.210777
2  foo    two  0.271649  0.366140
3  bar  three  0.284631 -0.622669
4  foo    two -0.797636  0.124659
5  bar    two -2.276427  0.189058
6  foo    one -0.188350 -0.356422
7  bar  three  0.132985  0.197092

In [60]:
a = df.groupby('A').sum()
a

            C         D
A
bar -0.964283  1.974258
foo -2.809342  0.081837

In [61]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)
#-------------------묶는 것 
x2, y2 = zip(*zip(x,y))
print(x2)
print(y2)
#-------------------푸는 것

(1, 2, 3)
(4, 5, 6)

In [62]:
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x,y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [63]:
x2, y2 = zip(*zip(x,y))

In [64]:
x2

(1, 2, 3)

In [65]:
y2

(4, 5, 6)

In [67]:
df = pd.DataFrame(
    {
        'A' : ['one', 'one', 'two', 'three'] * 3,
        'B' : ['A', 'B', 'C'] * 4,
        'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar' ] * 2,
        'D' : np.random.randn(12),
        'E' : np.random.randn(12)
    }
)

In [68]:
df

        A  B    C         D         E
0     one  A  foo -0.722061 -1.021138
1     one  B  foo -1.788330  0.272944
2     two  C  foo  0.223102 -0.998039
3   three  A  bar  0.229091  0.267341
4     one  B  bar  0.232835  1.220160
5     one  C  bar  1.190774 -1.482248
6     two  A  foo  1.466544 -0.521581
7   three  B  foo -0.066633 -1.785527
8     one  C  foo -0.728435  0.453250
9     one  A  bar  1.365897 -0.102703
10    two  B  bar -0.760913  0.047323
11  three  C  bar -0.089533  0.945585

In [69]:
pd.pivot_table(df, values = 'D', index = ['A', 'B'], columns = ['C'])

C             bar       foo
A     B
one   A  1.365897 -0.722061
      B  0.232835 -1.788330
      C  1.190774 -0.728435
three A  0.229091       NaN
      B       NaN -0.066633
      C -0.089533       NaN
two   A       NaN  1.466544
      B -0.760913       NaN
      C       NaN  0.223102